@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

header h1 {
    text-align: center;
    color: #444;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.star-rating {
    display: flex;
    gap: 5px;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

input[type="submit"] {
    background-color: #ff6600;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #641896;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #9c0e0e;
}